@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&family=Silkscreen&display=swap');

.bars-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end; 
   height : 300px;
  /* border: 2px solid white; */
}

.bar {
  width: 20px;
  background-color: rgb(0, 255, 0);
  margin-right: 2px;
}

.slidercontainer{
  width: 100%;
  /* border : 2px solid white; */
  display: flex;
  justify-content: space-between;
}
.slidercontainer-title{
  display: flex;
  justify-content: space-between;
}
.slidercontainer-sub1{
  display: flex;
  flex-direction: row;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 16px;
  background: #ffffff;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 20px;
  background: rgb(0, 255, 0);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 20px;
  background: rgb(1, 255, 1);
  cursor: pointer;
}

body{
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Silkscreen', sans-serif;
  background-color: black;
  color: rgb(0, 255, 0)
  
}

#btn{
  padding: 10px 10px;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Silkscreen', sans-serif;
}

#btn:hover{
  cursor: pointer;
  background-color: rgb(0, 255, 0);
  transition: background-color 0.5s ease; 
}
.Home{
  /* border :2px solid blue; */
 
  background-color: black;
  /* padding : 150px 200px */
  min-height: 100vh;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;




}
.container{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(17, 225, 17);
  font-size: larger;
}
.grids{
  
  margin-top : 20px;
  display: grid;
  grid-template-columns: repeat(3 , 1fr);

 grid-gap: 2rem;

}
@media(max-width : 1000px ){
  .grids{
    grid-template-columns: repeat(2 , 1fr);
  }
}
@media(max-width : 800px){
  .grids{
    grid-template-columns: repeat(1, 1fr);
  }
}
.bubble , .selection , .insertion{
  border : 1px solid white;
  padding: 50px 50px;
  margin: 10px
}
.bubble h4 , .insertion h4 , .selection h4{
  color : rgb(0, 242, 0)
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
